#root{
  width: 100%;
}
.container{
  width: 100%;
  position: relative;
}
.header{
  height: 50px;
  background-color: rgb(180, 176, 207);
  display: flex;
  align-items: center;
}
.header h4{
  padding:5px 0 0 5px;
  margin:0;
  text-align: center;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding:14px;
  justify-content: center;
  gap:4px;
}

.content .item{
  position: relative;
  width: 100%;
  min-height: 50px;
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  gap:5px;
}

.item a{
  padding:0 5px 0 5px;
}

.item h6{
  padding:0 0 0 5px;
  display: flex;
  position: relative;
  margin: 0;
}

.itemHeading{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 5px;
}

.itemHeading span{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7px;
  font-weight: bold;
  background: lightblue;
  border-radius: 5px;
  padding: 1px 5px 1px 5px;
  letter-spacing: 2px;
  font-style: italic;
  box-shadow: 0px 1px grey;
}